#main3 {
    color: grey;
    display: none;
}

#mainText1 {
    font-size: 23px;
    margin-top: 30px;
    margin-left: 27px;
    font-weight: bold;

}

#mainText2 {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 27px;
}

input {
    border-radius: 15px;
    height: 35px;
    width: 200px;
    border: 1px solid gainsboro;
    margin-left: 20px;
    padding-left: 20px;
    outline: none;
    margin-right: 10px;

}

#main3>button {
    width: 90px;
    height: 35px;
    color: rgb(124, 187, 30);
    background-color: white;
    border: 1px solid rgb(125, 189, 31);
    border-radius: 20px;
    outline: none !important;
    font-family: 'Times New Roman';
    font-size: 19px;
    opacity: 0.6;
    margin-top: -25px;
}

#Font1 {
    margin-left: 20px;
}

#FontHeader {
    font-size: 19px;
    margin-left: 34px;
    opacity: 0.8;
}

.chosenFont {
    background-color: rgb(125, 189, 31) !important;
    color: white !important;
}