#sideBar {
    position: relative;
}

#sideBarHeader {
    width: 249px;
    height: 28px;
    border-bottom: 1px solid rgb(207, 205, 205);
}

#sideBarHeader p {
    margin-left: 20px;
    font-size: 20px;
    color: gray;
    font-weight: bold;
}

#sideText1 {
    font-size: 17px;
    color: gray;
    margin-top: 24px;
    margin-left: 10px;
}

#sideText2 {
    font-size: 17px;
    color: gray;
    margin-top: 10px;
    margin-left: 10px;
}

#sideText3 {
    font-size: 17px;
    color: gray;
    margin-top: 10px;
    margin-left: 10px;
}

#showBorder {
    width: 200px;
    height: 250px;
    background-color: white;
    margin-left: 25px;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-size: cover;
}

#showPicture {
    width: 150px;
    height: 195px;
    background-color: white;
    margin-left: 25px;
    margin-top: 30px;
    background-size: cover;
    position: absolute;

}

#sideButton {
    width: 200px;
    height: 40px;
    margin-left: 25px;
    margin-top: 26px;
    color: white;
    border-radius: 20px;
    outline: none;
    border: 1px;
    font-size: 19px;
    opacity: 0.6;
}

.sideButton {
    background-color: rgb(124, 187, 30);
    transition: 300ms linear 300ms;
}

.sideButton:hover {
    background-color: rgb(137, 228, 2);
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
}


#showPicture p {
    margin: 3px;
    font-size: 15px;
    text-align: center;
}

#textOnPicture1 {
    margin-bottom: 130px !important;
    margin-top: 15px;

}

#chosenColor {
    display: none;
    float: right;
    height: 15px;
    width: 144px;
    margin-right: 8px;
}

#chosenColor div {
    float: left;
    width: 12px;
    height: 12px;
    margin: 3px;
    border-radius: 3px;
}