@font-face {
    font-family: "Ariston";
    src: url(./fonts/ariston/ariston-webfont.eot);
    src: url(./fonts/ariston/ariston-webfont.ttf) format('trueType'),
        url(./fonts/ariston/ariston-webfont.woff) format('WOFF'),
        url(./fonts/ariston/ariston-webfont.woff2) format('WOFF2');
}

@font-face {
    font-family: "DaVinci";
    src: url(/fonts/davinci/davinci-webfont.eot);
    src: url(./fonts/davinci/davinci-webfont.ttf) format('trueType'),
        url(./fonts/davinci/davinci-webfont.woff) format('WOFF'),
        url(./fonts/davinci/davinci-webfont.woff2) format('WOFF2');
}

@font-face {
    font-family: "Brody";
    src: url(/fonts/brody/jabgndg5-webfont.eot);
    src: url(./fonts/brody/jabgndg5-webfont.ttf) format('trueType'),
        url(./fonts/brody/jabgndg5-webfont.woff) format('WOFF'),
        url(./fonts/brody/jabgndg5-webfont.woff2) format('WOFF2');

}