#main4 {
    color: grey;
    display: none;
}

#mainText1 {
    font-size: 23px;
    margin-top: 30px;
    margin-left: 27px;
    font-weight: bold;

}

#mainText2 {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 27px;
    width: 610px;
}

#main4 {
    background-color: white;
    position: relative;
    display: none;
    height: 455px;
}

.colorOfFingerprint>img {
    width: 135px;
    height: 135px;
    border: 1px solid gainsboro;
    margin: 3px;
    margin-top: 5px;
    border-radius: 10px;
}

.colorOfFingerprint {
    margin-left: 20px;
}

.colorOfFingerprint img:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#chosenColor {
    display: none;
    float: right;
    height: 15px;
    width: 144px;
    margin-right: 10px;
}

#chosenColor div {
    float: left;
    width: 12px;
    height: 12px;
    margin: 3px;
}